<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/default.css">
    <link rel="stylesheet" href="/src/styles/auth.css">
    <link rel="stylesheet" href="/src/styles/home.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

    <title>Snackz</title>
</head>
<body>
    <div id="app">
        <!-- LOGIN -->
        <div class="login" v-if="!isLoggedIn">
            <header>
                <h1 class="logo">
                    Snackz 
                    <small class="beta">BETA</small>
                </h1>
            </header>

            <form @submit.prevent="login">
                <div>
                    <label for="email">Email:</label>
                    
                    <div class="input">
                        <i class="ri-mail-fill icon"></i>
                        <input type="text" 
                            id="email" 
                            v-model="email" 
                            required
                            placeholder="Seu email">
                    </div>
                </div>
                

                <div>
                    <label for="password">Password:</label>

                    <div class="input">
                        <i class="ri-key-2-line icon"></i>
                        <input type="password" 
                            id="password" 
                            v-model="password" 
                            required
                            placeholder="Sua senha">
                        <i class="ri-eye-close-line icon"></i>
                    </div>
                </div>

                <div class="forgot">
                    <a class="link" href="https://www.snackz.online/forgot-password" target="_blank">
                        Esqueceu a senha?
                    </a>
                </div>

                <button class="button" type="submit">
                    Login
                </button>

                <p class="register">
                    Ainda não possue conta?
                    <a class="link" href="https://www.snackz.online/register" target="_blank">Registre-se</a>
                </p>
            </form>
        </div>
    
        <!-- Home -->
        <div class="home" v-else>
            <header class="header">
                <h1 class="logo">
                    Snackz 
                    <small class="beta">BETA</small>
                </h1>
                
                <a class="home" href="https://www.snackz.online/home" target="_blank">
                    <i class="ri-home-line"></i>
                </a>
            </header>

            <form action="">
                <input type="text" value="Wesley Viana" disabled />
                <br>
                <br>
                <div>
                    <span><strong>pão: </strong></span> <br>
                    <div>
                        <label for="Francês">Francês</label>
                        <input type="radio" name="pao" id="mussarela">
                    </div>
                    <div>
                        <label for="doce">Doce</label>
                        <input type="radio" name="pao" id="doce">
                    </div>
                    <div>
                        <label for="creme">C/ Creme</label>
                        <input type="radio" name="pao" id="creme">
                    </div>
                </div>
    
                <br>

                <div>
                    <span><strong>Acompanhamento: </strong></span> <br>
                    <div>
                        <label for="Francês">Mussarela</label>
                        <input type="radio" name="pao" id="mussarela">
                    </div>
                    <div>
                        <label for="doce">Mortadela</label>
                        <input type="radio" name="pao" id="doce">
                    </div>
                </div>

                <button class="pedir" type="submit">Pedir</button>
            </form>
          
            <!-- <button @click="logout">Sair</button> -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="/src/scripts/auth.js"></script>
    <script src="/src/scripts/getOptions.js"></script>
    <script src="/src/scripts/setOrders.js"></script>
</body>
</html>