@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,500;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: auto;
    padding: 1rem 1.5rem 1.5rem;
    border: 1px solid #ccc;
    width: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .home {
    border-radius: 6px;
    color: white;
    background-color: #ef4444;
    padding: .4rem;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.header .home:hover {
    background-color: #df2f2f;
}

.header .logo {
    font-size: 26px;
    font-weight: 500;
    font-family: 'Figtree', sans-serif;
    color: #ef4444;
}

.header .logo .beta {
    font-size: 16px;
    font-weight: 400;
    color: rgb(36, 35, 35);
}
